%h1.control-legend{data: {toggle: "collapse", target: "#weblab2_fields"}}
  Web Lab 2 Fields

#weblab2_fields.in.collapse
  .field
    = f.label :initial_view_mode, 'Initial View Mode'
    = f.select :initial_view_mode, options_for_select(@level.class.view_modes, @level.initial_view_mode)
    %p Allows setting the initial view mode when the level is loaded, which can be:
    %ul
      %li
        %strong Split mode (default):
        shows both code editing and HTML preview in a split view.
      %li
        %strong Preview only:
        Shows HTML preview only.
      %li
        %strong Code only:
        Shows code editor only.
    %p Students can switch between modes using buttons in the header.

  .field
    = f.label :ai_tutor_mode, 'AI Tutor Mode'

    - current_mode = @level.ai_tutor_mode ? @level.ai_tutor_mode : 'suggest'
    = f.select :ai_tutor_mode, options_for_select(@level.class.ai_tutor_modes, current_mode)
    %p Set the AI Tutor mode for the level. The default mode is "Suggest".

  .field
    = f.label :level_system_prompt, 'Level System Prompt'
    %p Optional addition to the system prompt for AI Tutor.
    = f.text_area :level_system_prompt, placeholder: 'Level system prompt', rows: 4, style: 'width: 50%', value: @level.level_system_prompt
