---
title: AI Teaching Assistant
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_sparkles = "fa-solid fa-sparkles"

%section.hero-banner-basic.bg-neutral-dark
  .wrapper.grid-container.justify-space-between.align-items-center.gap-4
    .text-wrapper
      %h1.white
        =hoc_s("ai_ta_page.heading")
      %p.white
        =hoc_s("ai_ta_page.desc")
      .content-footer
      %a.link-button{href: "https://studio.code.org/home"}
        = hoc_s("ai_ta_page.button")
    %figure
      %img{src: "/images/ai/page/teaching-assistant/ai-ta-best-of-stem-2024.png", alt: "", style: "width: 100%; margin-block-start: -2rem; margin-inline-start: -2rem;"}

%section.bg-neutral-light
  .wrapper
    = view :"ai_teaching_assistant/ai_ta_summary"

%section.bg-neutral-dark
  .wrapper.centered
    .flex-container.justify-center.align-items-center.gap-2.wrap
      .flex-container.flex-direction-row.justify-center.align-items-center{style: "gap: 10px;"}
        %h2.white.no-margin-bottom=hoc_s("ai_ta_page.suggestions.header_01")
        %i{class: "#{icon_sparkles}", style: "color: #3CFFF7; font-size: 24px;"}
        %h2.white.no-margin-bottom=hoc_s("ai_ta_page.suggestions.header_02")
        %i{class: "#{icon_sparkles}", style: "color: #3CFFF7; font-size: 24px;"}
        %h2.white.no-margin-bottom=hoc_s("ai_ta_page.suggestions.header_03")
      %figure
        %img{src: "/images/ai/page/teaching-assistant/ai-ta-suggestions.gif", alt: "", style: "width: 100%;"}

%section.no-padding-bottom
  .wrapper
    .flex-container.justify-space-between.align-items-center.gap-2.wrap
      .text-wrapper.col-47
        %h2=hoc_s("ai_ta_page.customized_support.heading")
        %p=hoc_s("ai_ta_page.customized_support.desc")
        %ul
          %li=hoc_s("ai_ta_page.customized_support.list_01", markdown: :inline)
          %li=hoc_s("ai_ta_page.customized_support.list_02", markdown: :inline)
          %li=hoc_s("ai_ta_page.customized_support.list_03", markdown: :inline)
      %figure.col-47
        %img{src: "/images/ai/page/teaching-assistant/ai-ta-chat-graphic.png", alt: "", style: "width: 100%;"}

%section.no-padding-bottom
  .wrapper
    .flex-container.justify-space-between.align-items-center.gap-2.wrap
      %figure.col-47
        %img{src: "/images/ai/page/teaching-assistant/ai-ta-assessments-launch-graphic.png", alt: "", style: "width: 100%;"}
      .text-wrapper.col-47
        %h2=hoc_s("ai_ta_page.assessment_power.heading")
        %p=hoc_s("ai_ta_page.assessment_power.desc")
        %ul
          %li=hoc_s("ai_ta_page.assessment_power.list_01", markdown: :inline)
          %li=hoc_s("ai_ta_page.assessment_power.list_02", markdown: :inline)
          %li=hoc_s("ai_ta_page.assessment_power.list_03", markdown: :inline)

%section
  .wrapper
    = view :section_basic_image_text, image_url: "/images/ai/page/teaching-assistant/ai-ta-evidence-graphic.png", heading: hoc_s("ai_ta_page.focus.heading"), desc: hoc_s("ai_ta_page.focus.desc"), wrap_reverse: true, url: nil, urlText: nil

%section.bg-neutral-light
  .wrapper
    = view :"ai_teaching_assistant/ai_ta_get_started"

%section.bg-neutral-dark
  .wrapper.centered
    = view :"ai_teaching_assistant/ai_ta_in_the_news"

%section#ai-signup-form
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s("ai_ta_page.form.heading"), subscribe_form_section_desc: hoc_s("ai_ta_page.form.desc"), form_height: "375px", form_src: "https://go.pardot.com/l/153401/2024-03-27/pqwtxx"

%section
  .wrapper
    %h2=hoc_s("ai_ta_page.faq.heading")
    = view :"ai_teaching_assistant/ai_ta_faq"

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("ai_ta_page.resources.heading")
    = view :"ai_teaching_assistant/ai_ta_editorial_cards"


%section
  .wrapper.centered
    %h2.heading-sm
      =hoc_s("ai_ta_page.partners.heading")
    .logos-wrapper.no-margin-bottom
      %img{src: "/images/avatars/stanford.png", alt: "Stanford University logo", style: "max-width: 150px"}
