!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= t('nav.user.loading')

    :javascript
        (function() {
          var email = "#{@form_data[:email]}";
          var givenName = "#{@form_data[:given_name]}";
          var familyName = "#{@form_data[:family_name]}";
          var oauthType = "#{@form_data[:provider]}";
          sessionStorage.setItem('email', email);
          sessionStorage.setItem('givenName', givenName);
          sessionStorage.setItem('familyName', familyName);
          sessionStorage.setItem('oauthType', oauthType);
          window.location.href = "#{sign_up_url}";
        })();

  %body
    %p=t('nav.user.loading')
