- location = Geocoder.search(request.ip).try(:first)
- country_code = location&.country_code.to_s.upcase
-# 'RD' is the 'Reserved' country code for private IP's, i.e. localhost.
- us_ip = ['US', 'RD'].include?(country_code)
- require '../shared/middleware/helpers/experiments'
- content_for(:head) do
  %meta{name: "robots", content: "noindex"}/

%h2= t('join_section.code.title')
%p= t('join_section.code.instructions')
- display_captcha = current_user && current_user.display_join_section_captcha?
= form_tag(student_user_new_path) do
  = text_field_tag(:section_code, params[:section_code], placeholder: I18n.t('join_section.code.placeholder'))
  - if display_captcha
    = recaptcha_tags callback: "onCaptchaCompletion"
  %br/
  = submit_tag t('join_section.code.submit'), class: 'btn btn-primary', disabled: display_captcha, id: 'join_new_section'
  - if inline_alert
    %span.inline-alert{ style: 'color: #b94a48; margin-left: 12px'}= inline_alert

:javascript
  function onCaptchaCompletion() {
    $("#join_new_section").prop("disabled", false);
  };

