- @page_title = I18n.t('teacher.dashboard')

%link{href: asset_path('css/scripts.css'), rel: 'stylesheet', type: 'text/css'}
%link{href: asset_path('css/courses.css'), rel: 'stylesheet', type: 'text/css'}

:ruby
  teacher_dashboard_data = {}
  teacher_dashboard_data[:studioUrlPrefix] = CDO.studio_url('', CDO.default_scheme)
  teacher_dashboard_data[:sections] = @sections
  teacher_dashboard_data[:sectionOrder] = @section_order
  teacher_dashboard_data[:section] = @section_summary
  teacher_dashboard_data[:currentUserId] = @current_user.id
  teacher_dashboard_data[:hasSeenStandardsReportInfo] = @current_user.has_seen_standards_report_info_dialog || false
  teacher_dashboard_data[:userName] = @current_user.short_name
  teacher_dashboard_data[:localeCode] = request.locale
  teacher_dashboard_data[:canEnableAITutor] = @current_user.can_enable_ai_tutor?
  teacher_dashboard_data[:providers] = @current_user.providers

= render partial: 'shared/emulate_print_media'

%script{src: webpack_asset_path('js/teacher_dashboard/show.js'), data: {dashboard: teacher_dashboard_data.to_json}}

- if current_user
  - if current_user.admin
    = render partial: 'home/admin'
  - if current_user.teacher? && !current_user.accepted_latest_terms?
    - current_user.update_user_tos_version_accept()
    = render partial: 'layouts/implicit_new_user_terms_interstitial'
  - if Policies::Ai.ai_differentiation_enabled?(current_user)
    %div#ai-differentiation-fab-mount-point
  - if current_user.levelbuilder?
    = render layout: 'shared/extra_links' do
      %li= link_to 'Videos', videos_path
      %li= link_to 'Images', '/images/new'
      %li
        = link_to 'Scripts', scripts_path
        = link_to '(Update all)', scripts_path(rake: '1'), data: { confirm: 'Are you sure want to re-seed script data?'}
      %li= link_to 'Courses', all_courses_path
      %li= link_to t('builder.manage'), levels_path
      %li= link_to 'Block Pools', pools_path
      %li= link_to 'Shared Functions', shared_blockly_functions_path
      %li= link_to 'Helper Libraries', libraries_path
      %li= link_to 'Gallery', 'projects/public'
      %li= link_to 'Foorm Surveys (preview)', 'foorm/forms/editor'
      %li= link_to '(BETA) Sprite Lab Sprite Management', 'sprites'
      %li= link_to 'Helpful Links', helpful_links_path

#teacher-dashboard
